<!doctype html>
<html lang="en">
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
   
    <title>Ihr Barcode</title>
    <link rel="stylesheet" type="text/css" href="/css/a3666.css">

  </head>
  <body>
    {{{body}}}
  </body>
</html>