@media print {

    @page {
        size: A4;
        margin-top: 5.7mm;
        margin-bottom: 8.6mm;
        margin-right: 7.9mm;
        margin-left: 1mm;
    }
    .sticker{
        float: left;
        width: 38mm;
        height: 21.2mm;
		margin-right: 3mm;
		margin-bottom: 3mm;
        
    }
    
}

body {
    width: 210mm;
    height: 297mm;
    margin-top: 5.7mm;
    margin-left: 7.9mm;
    margin-bottom: 8.6mm;
    margin-right: 7.9mm;
    margin-left: 1mm;
}
.sticker{
    float: left;
    width: 38.1mm;
    height: 21.2mm;
	margin-right: 3mm;
	margin-bottom: 3mm;

}