@media print {
    @page {
        size: A4;
        margin-top: 5mm;
        margin-bottom: 8.6mm;
        margin-right: 7.9mm;
        margin-left: 2mm;
    }
    .sticker{
        float: left;
        width: 37mm;
        height: 21.0mm;
		margin-right: 4mm;
		margin-bottom: 2mm;
    }
}
body {
    width: 210mm;
    height: 297mm;
    margin-top: 5.0mm;
    margin-left: 7.9mm;
    margin-bottom: 8.6mm;
    margin-right: 7.9mm;
    margin-left: 2mm;
}
.sticker{
    float: left;
    width: 37mm;
    height: 21.0mm;
	margin-right: 4mm;
	margin-bottom: 2mm;
}